html, body{
    margin: 0;
}
canvas{
    max-width: 1400px;
    background-image: url('./images/shop-bg.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 888px;
}

audio{
    width: 100%;
    position: absolute;
    bottom:0;
}

.street{
    width: 100%;
    display: block;
    background-image: url("./images/asphalt.jpg");

}

.shop{
    position: relative;
    /*margin-left: calc((100% - (1400px + 768px)) / 2 );*/
    overflow: hidden;
    text-align: center;
}

.cadre{
    display: inline-block;
}

/*.door{*/
/*background-image: url( './images/door.jpg');*/
/*height: 100%;*/
/*width: 768px;*/
/*display: inline-block;*/
/*position: absolute;*/
/*background-size: cover;*/
/*background-position: left bottom;*/
/*}*/

/*@media only screen and (min-width : 1400px) {*/
/*.door{*/
/*display: none;*/
/*}*/
/*}*/
